.section {
  font-family: 'Assistant', 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyCard {
  margin-bottom: 20px;
  width: 90%;
  border: 1px solid var(--raisin-black);
  background-color: var(--background-white);
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

.linkToSrc {
  display: block;
  text-decoration: none;
  border-bottom: 2px solid #d3dbda;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #556b79;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 500;
  color: #303e45;
  transition: color 0.4s ease-in;
}

.source {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #556b79;
  transition: color 0.4s ease-in;
}

.linkToSrc:hover .title {
  color: #556b79;
}

.linkToSrc:hover .source {
  color: var(--primary-red);
}

.text {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  font-size: 18px;
  color: #232d32;
}

.info {
  color: #556b79;
  font-weight: 500;
  margin-bottom: 10px;
}

.commentsCount {
  color: #303e45;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .section {
    width: 100%;
    padding: 40px 5px;
  }
  .storyCard {
    padding: 10px;
    width: 95%;
  }
  .title {
    font-size: 22px;
  }
  .source {
    font-size: 14px;
  }
  .info {
    font-size: 12px;
  }
  .commentsCount {
    font-size: 12px;
  }
  .text {
    font-size: 14px;
  }
}
