@import '../../assets/styles/vars.css';

.header {
  box-sizing: border-box;
  margin: 0 17px;
  height: 400px;
  background-image: radial-gradient(var(--raisin-black) 20%, transparent 20%);
  background-position: 0 0, 50px 50px;
  background-size: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-white);
}

.title {
  font-family: 'Assistant', 'Courier New', Courier, monospace;
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  color: var(--raisin-black);
  letter-spacing: 5px;
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 38px;
  }}
