.button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: baseline;
  right: 80px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.buttonText {
  font-family: 'Assistant', 'Courier New', Courier, monospace;
  font-size: 36px;
  line-height: 1;
  vertical-align: top;
  color: var(--raisin-black);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: var(--primary-red);
  border: none;
}

.button:hover .buttonText {
  color: #384965;
}

.visuallyHidden {
  display: none;
  opacity: 0;
  transition: all 0.4s ease-in;
}

@media screen and (max-width: 500px) {
  .button {
    right: 40px;
  }
}
