@import '../../assets/styles/vars.css';

.backBtn {
  border: none;
  min-width: 300px;
  height: 70px;
  margin-bottom: 30px;
  padding: 20px 0;
  font-family: 'Assistant', 'Courier New', Courier, monospace;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid var(--raisin-black);
  background-color: transparent;
  color: var(--raisin-black);
  transition: all 0.4s ease-in-out;
}

.backBtn:hover {
  box-shadow: var(--shadow-default);
}
